 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/artworks-ztsEGPq7JOgaViFi-MOSzaQ-t500x500.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 201px;
  --radius: 25px;
  margin: 104px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: AquireBold;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: AquireBold;
  font-size: 1.875rem;
  width: 573px;
  margin: 67px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: 10px auto 0 296px;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: -42px 296px 0 auto;
  padding: 10px 68px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: 10px auto 0 627px;
  padding: 10px 93px 10px 92px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: -42px auto 0 280px;
  padding: 10px 79px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: 10px auto 0 616px;
  padding: 8px 99px 9px 98px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: -42px auto 0 269px;
  padding: 10px 90px 10px 88px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: 10px auto 0 600px;
  padding: 8px 105px 9px;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: AquireBold;
  margin: -42px auto 50px 253px;
  padding: 10px 91px 10px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    margin-top: 247px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 65px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -260px;
    margin-right: 25px;
    margin-left: 378px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-right: 367px;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 81px;
    padding-right: 37px;
    padding-left: 36px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 717px;
    padding-right: 50px;
    padding-left: 48px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 431px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 712px;
    padding-right: 49px;
    padding-left: 49px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 425px;
    padding-right: 39px;
    padding-left: 39px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 701px;
    padding-right: 51px;
    padding-left: 50px;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 60px;
    margin-left: 415px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 87px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 409px;
    padding-right: 38px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 406px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 169px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 398px;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 161px;
    padding-right: 43px;
    padding-left: 42px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 390px;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 50px;
    margin-left: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 101px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 317px;
    padding-right: 37px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 315px;
    padding-right: 49px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 77px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 310px;
    padding-right: 49px;
    padding-left: 48px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 72px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 299px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: 242px;
    margin-top: 298px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 226px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 223px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-left: 217px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-7 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-left: 207px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 60px;
    margin-left: -11px;
  }
}@font-face {
  font-family: 'AquireBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AquireBold.otf);
}