 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/artworks-ztsEGPq7JOgaViFi-MOSzaQ-t500x500.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-image-1 {
  width: 388px;
  height: 388px;
  --radius: 50px;
  margin: 156px auto 0 60px;
}

.u-section-1 .u-text-1 {
  font-family: AquireBold;
  font-weight: 900;
  font-size: 1.5rem;
  margin: -270px 108px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: 20px 99px 0 auto;
  padding: 10px 25px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px auto 0 570px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px 249px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: 20px 249px 0 auto;
  padding: 10px 22px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px 101px 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px 440px 0 auto;
  padding: 10px 41px 10px 40px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: 20px 98px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px 440px 0 auto;
  padding: 10px 37px 10px 35px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: AquireBold;
  --radius: 50px;
  margin: -45px 249px 0 auto;
  padding: 10px 48px 10px 47px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: AquireBold;
  margin: 47px auto 0 67px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 2px auto 60px 116px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 143px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -232px;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: 178px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 328px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 28px;
    padding: 10px 10px 10px 9px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    margin-right: 178px;
    padding: 11px 10px 12px 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 28px;
    padding: 10px 31px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 328px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 28px;
    padding: 10px 31px 10px 29px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 328px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 178px;
    padding-right: 28px;
    padding-left: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 9px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -8px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
    margin-top: 128px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 204px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    margin-left: 445px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-right: auto;
    margin-left: 445px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: auto;
    margin-left: 445px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -425px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    width: 202px;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-image-1 {
    width: 200px;
    height: 200px;
    margin-top: 79px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 152px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 55px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 355px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 355px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 55px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 355px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -374px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -110px;
    margin-left: auto;
    padding: 10px 65px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 85px;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 85px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -175px;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 280px;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -175px;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -634px;
  }

  .u-section-1 .u-text-3 {
    width: 201px;
    margin-top: -8px;
  }
}@font-face {
  font-family: 'AquireBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AquireBold.otf);
}